{% extends "layout.twig" %}

{% block title %}Project Journal - The Ultimate Project Progress Tracking Tool{% endblock %}

{% block header %}
    <div class="changelog">
        <h2>Project Journal - Change log</h2>

        <h3>Version 0.0.50</h3>
        <h4>Nov 9, 2019</h4>
        <p>Users can now view their image & audio type journal entries by clicking on the entry thumbnail in the Project Info Panel.</p>

        <h3>Version 0.0.46</h3>
        <h4>Nov 9, 2019</h4>
        <p>Users can now add/save journal updates for a project. Update thumbnails are now viewable on the Project Info Panel.</p>

        <h3>Version 0.0.43</h3>
        <h4>Nov 3, 2019</h4>
        <p>Users can now delete a opened project using the Project Info Panel's delete button. A warning will popup first giving the user the option to cancel.</p>

        <h3>Version 0.0.42</h3>
        <h4>Nov 2, 2019</h4>
        <p>Users can now edit basic project info [title, category, description ] using the Edit Button in the Project Info Panel</p>

        <h3>Version 0.0.41</h3>
        <h4>Nov 1, 2019</h4>
        <p>Project Timers now working, Users can now track how long they have been working on a project with automatic DB backup every minute.</p>

        <h3>Version 0.0.4</h3>
        <h4>Oct 31, 2019</h4>
        <p>Users can now open project. Opened project will now display basic info in Project Infomation Panel.</p>

        <h3>Version 0.0.3</h3>
        <h4>Oct 21, 2019</h4>
        <p>Added Add Project Feature, User can now add projects to the project grid.</p>

        <h3>Version 0.0.2</h3>
        <h4>Commits on Aug 29, 2019</h4>
        <p>Structure and style of Main page completed along with Project Grid and Project Info Panels.</p>

        <h3>Version 0.0.1.1</h3>
        <h4>Aug 11, 2019</h4>
        <p>Installer and Login pages created</p>

        <h3>Version 0.0.1</h3>
        <h4>Dec 14, 2018</h4>
        <p>Original Project Tracker</p>
    </div>
{% endblock %}

