<h2>Project Journal Installer</h2>
<form>
    <label for="database_name">Database Name:</label>
    <input type="text" name="database_name">
    <br />

    <button type="button">Install</button>
</form>