{% extends "layout.twig" %}

{% block title %}Project Journal - Installer{% endblock %}

{% block page %}
    <h2>Project Journal Installer</h2>
    <form id="installerForm">
        <label for="database_host">Database Host:</label>
        <input type="text" name="database_host">
        <br />

        <label for="database_name">Database Name:</label>
        <input type="text" name="database_name">
        {# Error Example #}
        {#<div class="error"></div>#}
        <br />

        <label for="database_user">Database User:</label>
        <input type="text" name="database_user">
        <br />

        <label for="database_pass">Database Password:</label>
        <input type="password" name="database_password">
        <br />

        <label for="create_database">Create Database:</label>
        <input type="checkbox" name="create_database">
        <br />

        <label for="admin_username">Admin Username:</label>
        <input type="text" name="admin_username">
        <br />

        <label for="admin_password">Admin Password:</label>
        <input type="password" name="admin_password">
        <br />
        <div class="error" id="install_php_error" style="display: none;"></div>

        <button type="button" id="installSubmit">Install</button>
    </form>
{% endblock %}