{% extends "layout.twig" %}

{% block title %}Project Journal - The Ultimate Project Progress Tracking Tool{% endblock %}

{% block header %}
    <style>
        .jasmine_html-reporter {
            display: none;
        }
    </style>
    <div id="jasmine_wrapper">

    </div>
    <script src="javascript/jasmine.js"></script>

    <script>
        describe("A suite", function() {
            it("contains spec with an expectation", function() {
                expect(true).toBe(true);
            });
        });

        myReporter = {
            jasmineDone: function(result) {
                setTimeout(function(){
                    var $jasmine_results = $(".jasmine_html-reporter").clone();
                    $("#jasmine_wrapper").append($jasmine_results);
                    $(".jasmine_html-reporter")[1].remove();
                    $(".jasmine_html-reporter").fadeIn(500);
                }, 50)
            }
        };

        jasmine.getEnv().addReporter(myReporter);
    </script>
{% endblock %}

