<!DOCTYPE html>
<html class="{% block htmlclass %}{% endblock %}">
<head>
    {% block head %}
        <link rel="stylesheet" href="master.css" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="theme_light">
<header>{% block header %}{% endblock %}</header>
<main id="content" role="main">{% block page %}{% endblock %}</main>
<footer id="footer">
    {% block footer %}
        &copy; Copyright 2019 by <a href="//byveldsmultimedia.com">Byvelds Multimedia</a>.
    {% endblock %}
</footer>

<script data-main="javascript/app" src="javascript/require.js"></script>
</body>
</html>