{% extends "layout.twig" %}

{% block title %}Project Journal - Login{% endblock %}

{% block page %}
    <div id="loginShakeWrapper">
        <div class="login_logo ladda-button" data-size="5" data-style="slide-up" data-spinner-color="#000"><div class="cover"><div class="ladda-label"></div></div></div>
        <form id="loginForm" class="form">
            <div class="input_wrapper icon user">
                <input type="text" name="username" placeholder="Username" />
            </div>

            <div class="input_wrapper icon pass">
                <input type="password" name="password" placeholder="Password" />
            </div>

            <div class="error error_message" id="login_php_error"></div>
            <button type="button" class="main_btn" id="loginSubmit">Submit</button>
        </form>
    </div>
{% endblock %}