{% extends "layout.twig" %}

{% block title %}Project Journal - The Ultimate Project Progress Tracking Tool{% endblock %}

{% block header %}
    <header>
        {# Left Side #}
        <div class="half left ib">
            <div class="header_logo"></div>
            <div class="input_wrapper searchbar">
                <input type="text" id="search" class="ib" placeholder="Search through projects" />
            </div>
        </div><!--

     --><div class="half right ib">
            <ul class="ib">
                <li class="ib menu_item active">Support [Icon]</li>
                <li class="ib menu_item">Support [Icon]</li>
                <li class="ib menu_item">Support [Icon]</li>
                <li class="ib menu_item">Support [Icon]</li>
            </ul>

            {# User Profile #}
            <div class="ib user" id="header_user">
                <div class="ib username">User Name</div>
                <div class="ib profile_image"></div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page %}
    {# Sort Wrapper #}
    <div class="sorting_selector">
        Sort By:
        <select>
            <option value="created">Created</option>
            <option value="updated">Last Updated</option>
            <option value="name">Name</option>
            <option value="cat">Category</option>
            <option value="created">Completed</option>
        </select>
    </div>

    {# Project Grid #}
    <div class="grid">
        {% for i in 1..15 %}{% include "partials/item.twig" %}{% endfor %}
    </div>

    {# Infomation Panel #}
    <div class="info_panel">
        <div class="thumbnail"></div>
        <div class="project_name">Project Name</div>
        <div class="time_spent">12:34:56</div>
        <div class="last_updated">November 23rd, 2019</div>

        <div class="action_buttons">
            <button class="start">[ICON] Start</button>
            <button class="edit">[ICON] Edit</button>
            <button class="delete">[ICON] Delete</button>
        </div>

        <div class="project_decription">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti dicta eius error expedita modi quo ratione recusandae reprehenderit vitae! Aperiam consectetur ex facilis labore maiores nisi rem repellat sint.
        </div>

        <div class="todo_list">
            <div class="title">Todo List <button id="todo_open_close">[ICON]</button></div>
        </div>

        <div class="updates">
            <div class="title">Updates <button id="todo_open_close">[ICON]</button></div>
        </div>

        <div class="stats">
            <div class="title">Stats <button id="todo_open_close">[ICON]</button></div>
        </div>


    </div>
{% endblock %}