{% extends "layout.twig" %}

{% block htmlclass %}main{% endblock %}

{% block title %}Project Journal - The Ultimate Project Progress Tracking Tool{% endblock %}

{% block page %}
    <nav>
        <div class="nav-item logo">LOGO HERE</div><!--
     --><div class="nav-item projects">Projects</div><!--
     --><div class="nav-item categories">Categories</div><!--
     --><div class="nav-item stats">Stats</div><!--
     --><div class="nav-item settings">Settings</div>
    </nav>

    <div class="content">

    </div>
{% endblock %}