{% extends "layout.twig" %}

{% block title %}Project Journal - The Ultimate Project Progress Tracking Tool{% endblock %}

{% block header %}
    <header>
        {# Left Side #}
        <div class="half left ib">
            <div class="header_logo"></div>
            <div class="input_wrapper searchbar">
                <input type="text" id="search" class="ib" placeholder="Search through projects" />
            </div>
        </div><!--

     --><div class="half right ib">
            <ul class="ib">
                <li class="ib menu_item active">Add <i class="fas fa-plus-square"></i></li>
                <li class="ib menu_item">Timeline <i class="fas fa-stream"></i></li>
                <li class="ib menu_item">Stats <i class="fas fa-poll"></i></li>
            </ul>

            {# User Profile #}
            <div class="ib user" id="header_user">
                <div class="ib username">{{ username }} &nbsp;<i class="fas fa-chevron-down"></i></div>
                <div class="ib profile_image" style="background-image:url(images/users/{{ username }}.webp)"></div>

                <div class="dropdown off">
                    <a href="">Settings</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page %}
    <div class="main_inside_wrapper">
        {# Sort Wrapper #}
        <div class="sorting_selector">
            Sort By
            <select>
                <option value="created">Created</option>
                <option value="updated">Last Updated</option>
                <option value="name">Name</option>
                <option value="cat">Category</option>
                <option value="created">Completed</option>
            </select>

            &nbsp;&nbsp;&nbsp;&nbsp;

            Filter Category
            <select>
                <option value="0">All</option>
                <option value="1">Web Apps</option>
            </select>

            &nbsp;&nbsp;&nbsp;&nbsp;

            Filter Stage
            <select>
                <option value="0">All</option>
                <option value="1">Idea</option>
                <option value="1">Work in Progress</option>
                <option value="1">Complete</option>
            </select>
        </div>

        {# Project Grid #}
        <div class="grid">
            {# Temp just for front-end-design #}
            {% include "partials/item_active.twig" %}
            {% for i in 1..31 %}{% include "partials/item.twig" %}{% endfor %}
        </div>

        {# Infomation Panel #}
        <div class="info_panel">
            <div class="thumbnail"style="background:url(images/updates/sample.webp); background-size: cover;"></div>
            <div class="project_name">Project Name</div>
            <div class="time_spent">12:34:56</div>
            <div class="last_updated">November 23rd, 2019</div>

            <div class="action_buttons">
                <button class="start button"><i class="far fa-play-circle"></i> Start</button>
                <button class="update button"><i class="fas fa-pen-alt"></i> Update</button>
                <button class="edit button"><i class="fas fa-edit"></i> Edit</button>
                <button class="delete button"><i class="far fa-trash-alt"></i> Delete</button>
            </div>

            <div class="project_decription">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti dicta eius error expedita modi quo ratione recusandae reprehenderit vitae! Aperiam consectetur ex facilis labore maiores nisi rem repellat sint. djsf. sal. sdfl . lsdf. sld lsdf . lsd I am a little sentence.
            </div>

            <div class="section closed todo_list">
                <div class="title">Todo List <button class="open_close_btn" id="todo_open_close"><i class="fas fa-folder"></i></button></div>
                <div class="action_buttons">
                    <button class="button">Add</button>
                    <button class="button">Edit</button>
                    <button class="button">Delete</button>
                </div>
                <div class="inside">
                    <div class="task">
                        <ol>
                            <li>
                                <div class="taskname">01.Task Name</div>
                                <div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="section closed updates">
                <div class="title">Updates <button class="open_close_btn" id="updates_open_close"><i class="fas fa-folder-open"></i></button></div>
                <div class="inside">
                    <img src="images/updates/sample.webp" alt=""><img src="images/updates/sample.webp" alt=""><img src="images/updates/sample.webp" alt=""><img src="images/updates/sample.webp" alt="">
                </div>
            </div>

            <div class="section stats">
                <div class="title">Stats <button class="open_close_btn" id="stats_open_close"><i class="fas fa-folder"></i></button></div>
                <div class="inside closed">
                    <h4># of Updates:</h4> <span>0</span><br />
                    <h4># of Updates This Month:</h4><span>0</span><br />
                    <h4># of Completed Tasks:</h4> <span>0</span><br />
                    <h4># of Completed Subtasks:</h4> <span>0</span><br />
                    <h4># of Subtasks Completed this Month:</h4> <span>0</span><br />
                </div>
            </div>
        </div>
    </div>

    <div class="overlay off">
        {# Journal Updates Panel #}
        <div class="overlay_panel update off">
            <div class="inside">
                <button class="prev"><i class="fa fa-arrow-circle-left"></i></button>
                <button class="next"><i class="fa fa-arrow-circle-right"></i></button>
                <h2>Journal Update Title</h2>
                <h3>September 3rd, 2019 - 10:18 PM</h3>
                <h3>3:21:00</h3>

                <img src="images/updates/sample.webp" alt="">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti dicta dolorem dolores esse exercitationem fuga nihil! Ab at autem beatae dolorem error eum labore minus, nostrum omnis quam, quod.
                </p>
            </div>
        </div>

        {# Delete Check Panel #}
        <div class="overlay_panel delete_check off">
            <div class="inside">
                <h1>Warning!</h1>
                <h2>Are you sure you want to delete <strong id="delete_check_name">[Project Name]</strong></h2>
                <button class="main_btn" id="delete_check_yes">Yes</button>
                <button class="main_btn" id="delete_check_no">no</button>
            </div>
        </div>

        {# Add Project Panel #}
        <div class="overlay_panel add off">
            <div class="inside">
                <h2>Create Project</h2>
                <div class="form">
                    <div class="input_wrapper icon user success-ani-ele">
                        <input type="text" name="add_title" placeholder="Project Title" />
                    </div>

                    <div class="input_wrapper icon user success-ani-ele">
                        <select name="" id="">
                            <option value="1">Web Apps</option>
                        </select>
                    </div>

                    <div class="input_wrapper success-ani-ele">
                        <textarea name="add_description" id=""></textarea>
                    </div>

                    <div class="error error_message" id="add_php_error"></div>
                    <button type="button" class="main_btn success-ani-ele" id="loginSubmit">Submit</button>
                </div>
            </div>
        </div>

        {# Global Stats Panel #}
        <div class="overlay_panel global_stats off">
            <div class="inside">
                <h2>Global Stats</h2>

                <h3>Number of Projects per Category</h3>
                <h3>Hours Worked Per Category</h3>
                <h3>Project Updates Per Month</h3>
                <h3>Hours Worked on Projects Per Month</h3>
                <h3>Hours Works on Projects Last Month</h3>
                <h3>Hours Works on Projects This Month</h3>
                <canvas id="myChart"></canvas>
            </div>
        </div>

        {# Project Stats Panel #}
        <div class="overlay_panel project_stats off">
            <div class="inside">
                <h2>Project Stats</h2>

                <h3>Updates Per Month</h3>
                <h3>Hours Worked on Project Per Month</h3>
                <h3>Hours Works on Project Last Month(days)</h3>
                <h3>Hours Works on Project This Month(days)</h3>
                <canvas id="myChartStats"></canvas>
            </div>
        </div>

        {# Settings Panel #}
        <div class="overlay_panel settings off">
            <div class="inside">

            </div>
        </div>

        {# Timeline Panel  #}
        <div class="overlay_panel timeline off">
            <div class="inside">
                <div class="chart-wrapper">
                    <ul class="chart-values">
                        <li>sun</li>
                        <li>mon</li>
                        <li>tue</li>
                        <li>wed</li>
                        <li>thu</li>
                        <li>fri</li>
                        <li>sat</li>
                    </ul>
                    <ul class="chart-bars">
                        <li data-duration="tue-wed" data-color="#b03532">Task</li>
                        <li data-duration="wed-sat" data-color="#33a8a5">Task</li>
                        ...
                    </ul>
                </div>
            </div>
        </div>

        {# Edit Project Panel #}
        <div class="overlay_panel edit_project off">
            <div class="inside">
                <h2>Edit Project</h2>
                <div class="form">
                    <div class="input_wrapper icon user success-ani-ele">
                        <input type="text" name="edit_title" placeholder="Project Title" />
                    </div>

                    <div class="input_wrapper icon user success-ani-ele">
                        <select name="" id="">
                            <option value="1">Web Apps</option>
                        </select>
                    </div>

                    <div class="input_wrapper success-ani-ele">
                        <textarea name="edit_description" id=""></textarea>
                    </div>

                    <div class="error error_message" id="edit_php_error"></div>
                    <button type="button" class="main_btn success-ani-ele" id="loginSubmit">Submit</button>
                </div>
            </div>
        </div>

        {# Add Journal Update #}
        <div class="overlay_panel add_update">
            <div class="inside">
                <h2>Write Project Update</h2>
                <div class="form">
                    Update Type:<br />
                    Image: <input type="radio" name="update_type" value="image">
                    Audio: <input type="radio" name="update_type" value="audio">
                    Word Count: <input type="radio" name="update_type" value="word_count">

                    {# if image or Audio #}
                    <input type="file"><br />

                    {# if word count #}
                    Pages: <input type="number" name="pages" placeholder="0"><br />
                    Words: <input type="number" name="words" placeholder="0"><br />
                    Characters: <input type="number" name="characters" placeholder="0"><br />
                    Characters Excluding Spaces: <input type="number" name="Characters_excluding_spaces" placeholder="0"><br />

                    <div class="input_wrapper icon user success-ani-ele">
                        <input type="text" name="update_title" placeholder="Update Title" />
                    </div>

                    <div class="input_wrapper success-ani-ele">
                        <textarea name="update_description" id=""></textarea>
                    </div>

                    <div class="error error_message" id="update_php_error"></div>
                    <button type="button" class="main_btn success-ani-ele" id="updateSubmit">Submit</button>
                </div>
            </div>
        </div>

        {# Add Task Update #}
        <div class="overlay_panel add_update">
            <div class="inside">
                <h2>Write Project Update</h2>
                <div class="form">
                    Update Type:<br />
                    Image: <input type="radio" name="update_type" value="image">
                    Audio: <input type="radio" name="update_type" value="audio">
                    Word Count: <input type="radio" name="update_type" value="word_count">

                    {# if image or Audio #}
                    <input type="file"><br />

                    {# if word count #}
                    Pages: <input type="number" name="pages" placeholder="0"><br />
                    Words: <input type="number" name="words" placeholder="0"><br />
                    Characters: <input type="number" name="characters" placeholder="0"><br />
                    Characters Excluding Spaces: <input type="number" name="Characters_excluding_spaces" placeholder="0"><br />

                    <div class="input_wrapper icon user success-ani-ele">
                        <input type="text" name="update_title" placeholder="Update Title" />
                    </div>

                    <div class="input_wrapper success-ani-ele">
                        <textarea name="update_description" id=""></textarea>
                    </div>

                    <div class="error error_message" id="update_php_error"></div>
                    <button type="button" class="main_btn success-ani-ele" id="updateSubmit">Submit</button>
                </div>
            </div>
        </div>

    </div>

    <script>
        window.addEventListener("load", function(){
            $(".updates img").on("click", function(){alert("Open Modal with journal entry information here.")});
        });
    </script>

    {# TIMELINE SCRIPT #}
    <script>
        window.addEventListener("load", createChart);
        window.addEventListener("resize", createChart);

        function createChart(e) {
            // 1
            const days = document.querySelectorAll(".chart-values li");
            const tasks = document.querySelectorAll(".chart-bars li");
            // 2
            const daysArray = [...days];
            // 3
            tasks.forEach(el => {
                // 1
                const duration = el.dataset.duration.split("-");
                // 2
                const startDay = duration[0];
                const endDay = duration[1];
                let left = 0,
                    width = 0;

                // 3
                if (startDay.endsWith("½")) {
                    const filteredArray = daysArray.filter(day => day.textContent == startDay.slice(0, -1));
                    left = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth / 2;
                } else {
                    const filteredArray = daysArray.filter(day => day.textContent == startDay);
                    left = filteredArray[0].offsetLeft;
                }

                // 4
                if (endDay.endsWith("½")) {
                    const filteredArray = daysArray.filter(day => day.textContent == endDay.slice(0, -1));
                    width = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth / 2 - left;
                } else {
                    const filteredArray = daysArray.filter(day => day.textContent == endDay);
                    width = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth - left;
                }

                el.style.left = `${left}px`;
                el.style.width = `${width}px`;
                // 4
                if (e.type == "load") {
                    // 2
                    el.style.backgroundColor = el.dataset.color;
                    // 3
                    el.style.opacity = 1;
                }
            });
        }
    </script>

    {# STATS SCRIPT #}
    <script>
        window.addEventListener("load", createStatsChart);

        function createStatsChart() {
            var ctx = document.getElementById('myChartStats').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [0, 10, 5, 2, 20, 30, 45]
                    }]
                },

                // Configuration options go here
                options: {}
            });
        }

    </script>

    <div style="font-family:'Helvetica Neue Cyr'; font-size: 32px;">
        <div style="font-weight:100">Thin</div>
        <div style="font-weight:200">Ultra Light</div>
        <div style="font-weight:300">Light</div>
        <div style="font-weight:400">Roman</div>
        <div style="font-weight:500">Medium</div>
        <div style="font-weight:700">Bold</div>
        <div style="font-weight:800">Heavy</div>
        <div style="font-weight:900">Black</div>
    </div>
{% endblock %}

