{% extends "layout.twig" %}

{% block title %}Project Journal - The Ultimate Project Progress Tracking Tool{% endblock %}

{% block header %}
    <header>
        {# Left Side #}
        <div class="half left ib">
            <div class="header_logo"></div>
            <div class="input_wrapper searchbar">
                <input type="text" id="search" class="ib" placeholder="Search through projects" />
            </div>
        </div><!--

     --><div class="half right ib">
            <ul class="ib">
                <li class="ib menu_item active">Add [Icon]</li>
                <li class="ib menu_item">Timeline [Icon]</li>
                <li class="ib menu_item">Stats [Icon]</li>
            </ul>

            {# User Profile #}
            <div class="ib user" id="header_user">
                <div class="ib username">{{ username }}</div>
                <div class="ib profile_image" style="background-image:url(images/users/{{ username }}.webp)"></div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page %}
    <div class="main_inside_wrapper">
        {# Sort Wrapper #}
        <div class="sorting_selector">
            Sort By
            <select>
                <option value="created">Created</option>
                <option value="updated">Last Updated</option>
                <option value="name">Name</option>
                <option value="cat">Category</option>
                <option value="created">Completed</option>
            </select>

            &nbsp;&nbsp;&nbsp;&nbsp;

            Filter Category
            <select>
                <option value="0">All</option>
                <option value="1">Web Apps</option>
            </select>
        </div>

        {# Project Grid #}
        <div class="grid">
            {# Temp just for front-end-design #}
            {% include "partials/item_active.twig" %}
            {% for i in 1..31 %}{% include "partials/item.twig" %}{% endfor %}
        </div>

        {# Infomation Panel #}
        <div class="info_panel">
            <div class="thumbnail"style="background:url(images/updates/sample.webp); background-size: cover;"></div>
            <div class="project_name">Project Name</div>
            <div class="time_spent">12:34:56</div>
            <div class="last_updated">November 23rd, 2019</div>

            <div class="action_buttons">
                <button class="start button"><i class="far fa-play-circle"></i> Start</button>
                <button class="edit button"><i class="fas fa-edit"></i> Edit</button>
                {#<button class="delete button"><i class="far fa-trash-alt"></i> Delete</button>#}
            </div>

            <div class="project_decription">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti dicta eius error expedita modi quo ratione recusandae reprehenderit vitae! Aperiam consectetur ex facilis labore maiores nisi rem repellat sint. djsf. sal. sdfl . lsdf. sld lsdf . lsd I am a little sentence.
            </div>

            <div class="section closed todo_list">
                <div class="title">Todo List <button class="open_close_btn" id="todo_open_close"><i class="fas fa-folder"></i></button></div>
                <div class="inside">
                    <div class="task">
                        <ol>
                            <li>
                                <div class="taskname">01.Task Name</div>
                                <div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div><!--
                                --><div class="subtask">
                                    <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="section updates">
                <div class="title">Updates <button class="open_close_btn" id="updates_open_close"><i class="fas fa-folder-open"></i></button></div>
                <div class="inside">
                    <img src="images/updates/sample.webp" alt=""><img src="images/updates/sample.webp" alt=""><img src="images/updates/sample.webp" alt=""><img src="images/updates/sample.webp" alt="">
                </div>
            </div>

            <div class="section closed stats">
                <div class="title">Stats <button class="open_close_btn" id="stats_open_close"><i class="fas fa-folder"></i></button></div>
                <div class="inside closed"></div>
            </div>
        </div>
    </div>

    <script>
        $(".updates img").on("click", function(){alert("Open Modal with journal entry information here.")});
    </script>
{% endblock %}

