.categories {
    padding: 20px 0 0;

    button{
        border-radius: 10em;
        padding-top: .7rem;
        padding-bottom: .7rem;
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

        &:hover {
            box-shadow: 0 8px 15px 0 rgba(0,0,0,.23), 0 6px 18px 0 rgba(0,0,0,.18);
        }

        &.selected_category {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        }
    }
}


