.todo_list{
    .new_task{

    }

    .list{
        ol{
            padding-left: 22px;

            li{
                width: 100%;
                font-weight: bold;

                ul{
                    li {
                        font-weight: normal;

                        i {
                            cursor: pointer;

                            &.not_started {
                                color: red;
                            }
                            &.in_progress {
                                color: goldenrod;
                            }

                            &.completed {
                                color: green;
                            }

                            &:active {
                                transform: scale(0.8);
                            }
                        }
                    }
                }
            }
        }

        .progress {
            display: inline-block;
            position: relative;
            top: 0px;
            width: 100px;
            font-weight: normal;
            height: 12px;
            font-size: 10px;
            line-height: 13px;
        }
    }
}

