header {
    padding: 20px 10px;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: dotted 2px darkgray;

    h1{
        max-width: 1125px;
        margin: 0 auto;
    }

    img{
        width: 52px;
        border-radius: 4px;
    }
}


main {
    padding-bottom: 60px;
}

@import "projects";
@import "categories";

.todo {

    h2 {

    }

    ol > li{
        font-weight: bold;
    }

    ul {
        font-weight: normal;
    }

    .status {
        font-weight: bold;

        &.not_started {
            color: red;
        }

        &.in_progress {
            color: goldenrod;
        }

        &.completed {
            color: green;
        }
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: lightgrey;
    border-top: dotted 2px darkgray;
    padding: 16px 10px;
    text-align: center;
}

