header {
    padding: 20px 10px;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: dotted 2px darkgray;

    h1{
        max-width: 1125px;
        margin: 0 auto;
    }

    img{
        width: 52px;
        border-radius: 4px;
    }
}


main {
    padding-bottom: 60px;
}


@import "projects";
@import "categories";
@import "overlay";
@import "odometer";
@import "details";
@import "updates";
@import "todo";


.btn.aqua-gradient {
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.btn.blue-gradient {
    border: 2px solid #fff;
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.bottom_btns {
    text-align: center;
}

.todo {

    h2 {

    }

    ol > li{
        font-weight: bold;
    }

    ul {
        font-weight: normal;
    }

    .status {
        font-weight: bold;

        &.not_started {
            color: red;
        }

        &.in_progress {
            color: goldenrod;
        }

        &.completed {
            color: green;
        }
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: lightgrey;
    border-top: dotted 2px darkgray;
    padding: 16px 10px;
    text-align: center;
    z-index: 5;
}

