<div class="section closed stats">
    <div class="title">Stats <button class="open_close_btn" id="stats_open_close"><i class="fas fa-folder"></i></button></div>
    <div class="inside closed">
        <h4># of Updates:</h4> <span>0</span><br />
        <h4># of Updates This Month:</h4><span>0</span><br />
        <h4># of Completed Tasks:</h4> <span>0</span><br />
        <h4># of Completed Subtasks:</h4> <span>0</span><br />
        <h4># of Subtasks Completed this Month:</h4> <span>0</span><br />
    </div>
</div>