<div class="section closed todo_list">
    <div class="title">Todo List <button class="open_close_btn" id="todo_open_close"><i class="fas fa-folder"></i></button></div>
    <div class="inside">
        <div class="task">
            <div class="action_buttons">
                <button class="button">Add</button>
                <button class="button">Edit</button>
                <button class="button">Delete</button>
            </div>
            <ol>
                <li>
                    <div class="taskname">01.Task Name</div>
                    <div class="subtask">
                        <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                    </div><!--
                                --><div class="subtask">
                        <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                    </div><!--
                                --><div class="subtask">
                        <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                    </div><!--
                                --><div class="subtask">
                        <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                    </div><!--
                                --><div class="subtask">
                        <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                    </div><!--
                                --><div class="subtask">
                        <div class="icon"><i class="fas fa-check"></i></div> Sub Task Name
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>