<div class="section closed updates">
    <div class="title">Updates <button class="open_close_btn" id="updates_open_close"><i class="fas fa-folder"></i></button></div>
    <div class="inside" id="project_info_updates">
{#        <img src="images/updates/sample.webp" alt="">#}
    </div>
</div>