.grid {
    display: inline-block;
    width: calc(100% - 610px);
    padding-right: 20px;
    vertical-align: top;
}


.grid_item {
    display: inline-block;
    width: 240px;
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 4px;

    &.selected {

    }

    .top, .bottom{
        position: relative;
    }

    .project_thumbnail {
        display: inline-block;
        width: 60px;
        height: 60px;
        background: #060;
        border-radius: 50%;
        vertical-align: top;
    }

    .top_text {
        display: inline-block;
        vertical-align: top;
    }

    .name {

    }

    .time_spent {

    }

    .last_updated {

    }

    .category_icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: #f00;
        border-radius: 50%;
    }
}