.grid {
    display: inline-block;
    width: calc(100% - 610px);
    padding-right: 20px;
    vertical-align: top;
}


.grid_item {
    display: inline-block;
    width: 240px;
    padding: 10px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 4px;

    &.selected {

    }

    .top, .bottom{
        position: relative;
    }

    .project_thumbnail {
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url("images/updates/sample.webp") 50% 50% no-repeat;
        background-size: cover;
        border-radius: 50%;
        vertical-align: top;
    }

    .top_text {
        display: inline-block;
        vertical-align: top;
    }

    .name {
        font-size: 18px;
        font-weight: 500;
    }

    .time_spent {
        font-size: 14px;
        text-align: center;
        font-weight: 300;
    }

    .last_updated {
        font-size: 12px;
        font-weight: 100;
    }

    .category_icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background: url("images/categories/webapp.webp");
        background-size: cover;
        border-radius: 50%;
    }
}