.login_logo{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url("images/header_logo.webp");
    transition: all 300ms ease-out;

    &.user{
        border-radius: 50%;
        border: solid 5px white;
        box-shadow: 0 2px 15px rgba(0,0,0,0.4);
    }

    .cover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.4);

        &.on{
            display: block;
        }
    }
}