.info_panel{
    display: inline-block;
    width: 360px;
    padding-left: 25px;
    vertical-align: top;
    border-left: solid 1px #bbb;

    .thumbnail{
        position: relative;
        top: -36px;
        width: 126px;
        height: 126px;
        margin: 0 auto;
        border: solid 3px white;
        background: #999;
        border-radius: 50%;
        box-shadow: 0 0 7px rgba(0,0,0,0.5);
    }

    .project_name{
        position: relative;
        top: -21px;
        text-align: center;
        font-size: 23px;
        font-weight: 800;
    }

    .time_spent{
        position: relative;
        top: -11px;
        height: 22px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    .last_updated {
        height: 31px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
}
