header {
  padding: 20px 10px;
  font-size: 40px;
  text-transform: uppercase;
  border-bottom: dotted 2px darkgray; }
  header h1 {
    max-width: 1125px;
    margin: 0 auto; }
  header img {
    width: 52px;
    border-radius: 4px; }

main {
  padding-bottom: 60px; }

.projects .project {
  padding: 40px 0; }
  .projects .project.odd {
    background: #fff; }
    .projects .project.odd .image-col {
      text-align: right; }
  .projects .project.new .save-btn {
    width: 100%;
    font-size: 1.2rem; }
  .projects .project .image-col img {
    transition: all 0.3s ease-out;
    cursor: pointer; }
    .projects .project .image-col img:hover {
      transform: rotate(3deg);
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.24), 0 22px 50px 0 rgba(0, 0, 0, 0.19); }
  .projects .project .title-col h3 {
    font-size: 3rem; }
    .projects .project .title-col h3.error {
      color: red;
      font-size: 2rem; }
  .projects .project .title-col p {
    font-size: 0.8rem; }
    .projects .project .title-col p.error {
      color: red; }
  .projects .project .fake_dropdown {
    position: relative; }
    .projects .project .fake_dropdown .open .selected {
      cursor: default; }
    .projects .project .fake_dropdown .options {
      display: none;
      position: absolute;
      background: #ffffff;
      z-index: 100;
      border: solid 2px black;
      border-top: 0; }
    .projects .project .fake_dropdown .selected {
      cursor: pointer; }
      .projects .project .fake_dropdown .selected.error {
        color: red; }
    .projects .project .fake_dropdown .option {
      padding: 5px 10px;
      margin: 0;
      border-bottom: solid 1px gray;
      transition: all 0.3s ease-out;
      cursor: pointer; }
      .projects .project .fake_dropdown .option:hover {
        background: darkgray; }

.categories {
  padding: 20px 0 0; }
  .categories button {
    border-radius: 10em;
    padding-top: .7rem;
    padding-bottom: .7rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
    .categories button:hover {
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.23), 0 6px 18px 0 rgba(0, 0, 0, 0.18); }
    .categories button.selected_category {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.overlay_cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 100; }
  .overlay_cover .overlay_box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    background: white; }
    .overlay_cover .overlay_box.delete {
      width: 400px;
      height: 240px;
      margin-left: -200px;
      margin-top: -120px; }
    .overlay_cover .overlay_box .buttons {
      text-align: center; }

.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative; }

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {
  display: block; }

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0); }

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {
  position: absolute; }

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  -ms-transition: -ms-transform 0.8s;
  -o-transition: -o-transform 0.8s;
  transition: transform 0.8s; }

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  -ms-transition: -ms-transform 0.8s;
  -o-transition: -o-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.project_details_wrapper {
  display: none; }

.details_error ul {
  background: red;
  color: white; }

.todo_list .list ol {
  padding-left: 22px; }
  .todo_list .list ol li {
    width: 100%;
    font-weight: bold; }
    .todo_list .list ol li ul li {
      font-weight: normal; }
      .todo_list .list ol li ul li i {
        cursor: pointer; }
        .todo_list .list ol li ul li i.not_started {
          color: red; }
        .todo_list .list ol li ul li i.in_progress {
          color: goldenrod; }
        .todo_list .list ol li ul li i.completed {
          color: green; }
        .todo_list .list ol li ul li i:active {
          transform: scale(0.8); }
.todo_list .list .progress {
  display: inline-block;
  position: relative;
  top: 0px;
  width: 100px;
  font-weight: normal;
  height: 12px;
  font-size: 10px;
  line-height: 13px; }

.btn.aqua-gradient {
  background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3) !important;
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
  -webkit-transition: .5s ease;
  transition: .5s ease; }

.btn.blue-gradient {
  border: 2px solid #fff;
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;
  -webkit-transition: .5s ease;
  transition: .5s ease; }

.bottom_btns {
  text-align: center; }

.todo ol > li {
  font-weight: bold; }
.todo ul {
  font-weight: normal; }
.todo .status {
  font-weight: bold; }
  .todo .status.not_started {
    color: red; }
  .todo .status.in_progress {
    color: goldenrod; }
  .todo .status.completed {
    color: green; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: lightgrey;
  border-top: dotted 2px darkgray;
  padding: 16px 10px;
  text-align: center;
  z-index: 5; }

/*# sourceMappingURL=master.css.map */
