<div class="grid_item">
    <div class="top">
        <div class="project_thumbnail"></div>
        <div class="top_text">
            <div class="name">Project Name</div>
            <div class="time_spent"><i class="far fa-clock"></i> <span>12:34:56</span></div>
        </div>
    </div>
    <div class="bottom">
        <div class="last_updated"><i class="fas fa-calendar-alt"></i> November 23<sup>rd</sup>, 2019</div>
        <div class="category_icon"></div>
    </div>
</div>