<div class="overlay_panel edit_project off">
    <div class="inside">
        <i class="modalclosebtn close_x fas fa-window-close"></i>
        <h2>Edit Project</h2>
        <div class="form">
            <div class="input_wrapper icon user success-ani-ele">
                <input type="text" name="edit_title" placeholder="Project Title" />
            </div>

            <div class="input_wrapper icon user success-ani-ele">
                <select name="" id="">
                    <option value="1">Web Apps</option>
                </select>
            </div>

            <div class="input_wrapper success-ani-ele">
                <textarea name="edit_description" id=""></textarea>
            </div>

            <div class="error error_message" id="edit_php_error"></div>
            <button type="button" class="main_btn success-ani-ele" id="loginSubmit">Submit</button>
            <button class="modalclosebtn close_bottom">Close</button>
        </div>
    </div>
</div>