<div class="overlay_panel global_stats off">
    <div class="inside">
        <i class="modalclosebtn close_x fas fa-window-close"></i>
        <h2>Global Stats</h2>

        <h3>Number of Projects per Category</h3>
        <h3>Hours Worked Per Category</h3>
        <h3>Project Updates Per Month</h3>
        <h3>Hours Worked on Projects Per Month</h3>
        <h3>Hours Works on Projects Last Month</h3>
        <h3>Hours Works on Projects This Month</h3>
        <canvas id="myChart"></canvas>
        <button class="modalclosebtn close_bottom">Close</button>
    </div>
</div>