<div class="overlay_panel update off">
    <div class="inside">
        <i class="modalclosebtn close_x fas fa-window-close"></i>
        <button class="prev"><i class="fa fa-arrow-circle-left"></i></button>
        <button class="next"><i class="fa fa-arrow-circle-right"></i></button>
        <h2>Journal Update Title</h2>
        <h3>September 3rd, 2019 - 10:18 PM</h3>
        <h3>3:21:00</h3>

        <img src="images/updates/sample.webp" alt="">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti dicta dolorem dolores esse exercitationem fuga nihil! Ab at autem beatae dolorem error eum labore minus, nostrum omnis quam, quod.
        </p>
        <button class="modalclosebtn close_bottom">Close</button>
    </div>
</div>