<div class="overlay_panel project_stats off">
    <div class="inside">
        <i class="modalclosebtn close_x fas fa-window-close"></i>
        <h2>Project Stats</h2>

        <h3>Updates Per Month</h3>
        <h3>Hours Worked on Project Per Month</h3>
        <h3>Hours Works on Project Last Month(days)</h3>
        <h3>Hours Works on Project This Month(days)</h3>
        <canvas id="myChartStats"></canvas>
        <button class="modalclosebtn close_bottom">Close</button>
    </div>
</div>