<div class="overlay_panel settings off">
    <div class="inside">
        <i class="modalclosebtn close_x fas fa-window-close"></i>
        <h2>User Settings</h2>
        <button class="modalclosebtn close_bottom">Close</button>
    </div>
</div>