<div class="overlay_panel timeline off">
    <div class="inside">
        <i class="modalclosebtn close_x fas fa-window-close"></i>
        <div class="chart-wrapper">
            <ul class="chart-values">
                <li>sun</li>
                <li>mon</li>
                <li>tue</li>
                <li>wed</li>
                <li>thu</li>
                <li>fri</li>
                <li>sat</li>
            </ul>
            <ul class="chart-bars">
                <li data-duration="tue-wed" data-color="#b03532">Task</li>
                <li data-duration="wed-sat" data-color="#33a8a5">Task</li>
                ...
            </ul>
        </div>
    </div>
</div>