<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="vendor/MDBootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/MDBootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="stylesheets/master.css">
</head>
<body>

<header>Project Journal</header>
<main>
    <div class="todo">
        <h2>TODO LIST:</h2>
        <ol>
            <li>Create system to add projects [<span class="status not_started">Not Started</span>]</li>
            <li>Create category system to group each project [<span class="status not_started">Not Started</span>]</li>
            <li>Make sure Each project must Include a title, category, progress image, and description [<span class="status not_started">Not Started</span>]</li>
            <li>Create system to add track time worked on project, start stop button with timer? [<span class="status not_started">Not Started</span>]</li>
            <li>Create system to track project updates (Journal Entries) [<span class="status not_started">Not Started</span>]</li>
            <li>Create create timeline system/graph to show hours worked over a period of time [<span class="status not_started">Not Started</span>]</li>
            <li>Create graph to show all projects time worked over a period of time [<span class="status not_started">Not Started</span>]</li>
        </ol>
    </div>
</main>

<footer>
    Created in 2018 with Typescript, jQuery, MDBootstrap, Twig & lots of <3
</footer>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/MDBootstrap/js/popper.min.js"></script>
<script src="vendor/MDBootstrap/js/bootstrap.min.js"></script>
<script src="vendor/MDBootstrap/js/mdb.min.js"></script>
<script src="javascript/master.js"></script>
</body>
</html>