{# --- PROJECT DETAILS --- #}
<div id="project_details" class="project_details_wrapper">
    <div class="details_nav">
        <button class="updates">updates</button>
        <button class="todo">todo</button>
        <button class="stats">stats</button>
    </div>

    <div class="container new_update">
        <h1>Project Updates</h1>
        <form id="update_form">
            <input type="hidden" name="project" id="project_id_hidden">
            <input type="hidden" name="time" id="project_time_hidden">
            <div class="row">
                <div class="col-12">
                    <h3>New Update:</h3>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="title">Update Title</label>
                        <input type="text" name="title" id="update_title" class="form-control">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="title">Preview Image</label>
                        <input type="file" name="update_image" class="form-control-file" id="update_image">
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="">Details</label>
                        <textarea name="details" id="update_textbox" class="form-control"></textarea>
                    </div>
                </div>

                <div class="col-12 details_error">
                    <ul>
                    </ul>
                </div>

                <div class="col-12">
                    <button type="button" class="btn btn-outline-secondary" id="update_submit_btn">save update</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container updates" id="project_updates">
    </div>

    <div class="container todo_list">
        <div class="row list">
            <div class="col-12">
                <h1>Project TODO List</h1>
                <ol id="project_todo_list">
                    <li>
                        Project TODO Task <div class="progress"><div class="progress-bar" style="width:70%">70%</div></div>
                        <ul>
                            <li>Project Task Subtask <i class="far fa-check-circle completed"></i></li>
                            <li>Project Task Subtask <i class="far fa-play-circle in_progress"></i></li>
                            <li>Project Task Subtask <i class="far fa-times-circle not_started"></i></li>
                            <li>Project Task Subtask <i class="far fa-times-circle not_started"></i></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>

        <div class="row new_task">
            <div class="col-md-5">
                <p class="h4 mb-4">New TODO Task</p>
                <div class="form-group">
                    <label for="new_task_name">Task Name</label>
                    <input type="text" id="new_task_name" name="new_task_name" class="form-control">
                </div>

                <input type="hidden" name="project_id" id="details_new_task_project_id" value="">

                <div class="text-center mt-4">
                    <button class="btn btn-outline-secondary" type="button" id="new_task_button">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <p class="h4 mb-4">New TODO Sub Task</p>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Task</label>
                    <select class="form-control" id="subtask_task_id">
                        <option selected disabled>Select a Task</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="new_sub_task_name">Sub Task Name</label>
                    <input type="text" id="new_sub_task_name" name="new_sub_task_name" class="form-control">
                </div>

                <input type="hidden" name="project_id" id="details_new_subtask_project_id" value="">

                <div class="text-center mt-4">
                    <button class="btn btn-outline-secondary" type="button" id="new_subtask_button">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="project_stats container">
        <h1>Project Stats</h1>
        <div id="projectStatsContainer">
            {# Use JS to create canvas elements #}
        </div>
    </div>

    <div class="container">
        <div class="row bottom_btns">
            <button type="button" class="btn btn-primary" id="details_back_to_projects_btn">Back to Projects</button>
        </div>
    </div>
</div>