<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="vendor/MDBootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/MDBootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="vendor/components-font-awesome/css/fa-regular.min.css">
    <link rel="stylesheet" href="vendor/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="stylesheets/master.css">
</head>
<body>

<header><h1><img src="/assets/images/header_logo.jpg" alt=""> Project Journal</h1></header>
<main>
    {% if error %}
        <div class="container missing_project_error">
            <div class="row">
                <div class="col-xs-12">
                    {{ error }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container todo_list">
            <div class="row new_task">
                <div class="col-xs-12">
                    <form>
                        <label for="new_task">New TODO Task</label><br>
                        <input type="text"><br>
                        <input type="hidden" name="project_id" value="{{ id }}">
                        <input type="submit"><br>
                    </form>
                    <br><br>
                    <form>
                        <label for="new_subtask">New TODO Subtask</label><br>
                        <select name="subtask_" id="">
                            <option value="">Select Task</option>
                        </select><br>
                        <input type="text"><br>
                        <input type="hidden" name="project_id" value="{{ id }}">
                        <input type="submit">
                    </form>
                </div>
            </div>

            <div class="row list">
                <div class="col-xs-12">
                    <h2>TODO LIST:</h2>
                    <ol>
                        <li>
                            Project to Task <div class="progress">
                                <div class="progress-bar" style="width:70%">70%</div>
                            </div>
                            <ul>
                                <li>Project Task Subtask <i class="far fa-check-circle completed"></i></li>
                                <li>Project Task Subtask <i class="far fa-play-circle in_progress"></i></li>
                                <li>Project Task Subtask <i class="far fa-times-circle not_started"></i></li>
                                <li>Project Task Subtask <i class="far fa-times-circle not_started"></i></li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    {% endif %}
</main>

<footer>
    Created in 2018 with Typescript, jQuery, MDBootstrap, Twig & lots of <3
</footer>

<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/MDBootstrap/js/popper.min.js"></script>
<script src="vendor/MDBootstrap/js/bootstrap.min.js"></script>
<script src="vendor/MDBootstrap/js/mdb.min.js"></script>
<script src="javascript/odometer.min.js"></script>
<script src="javascript/master.js"></script>
</body>
</html>